casadi==3.5.5
cycler==0.11.0
do-mpc==4.3.3
et-xmlfile==1.1.0
fonttools==4.33.3
kiwisolver==1.4.2
lxml==4.9.1
matplotlib==3.5.2
numpy==1.22.3
opcua==0.98.13
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-snap7==1.1
pytz==2022.1
scipy==1.8.0
six==1.16.0
